.summary-container {
  background-color: #f4fff4;
  padding: 30px;
  margin: auto;
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Sarabun', sans-serif;
  margin-top: 50px;
}

h2{
  margin-bottom: 20px;
  color: #2e7d32;
}

.filter-section {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
  align-items: center;
}

.filter-section label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.btn-show {
  background-color: #2fa56a;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Sarabun', sans-serif;
  margin-left: 20px;
  margin-bottom: 10px;
}

.summary-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.summary-table th,
.summary-table td {
  padding: 10px;
  border: 1px solid #dcdcdc;
  text-align: center;
}

.summary-table th {
  background-color: #d0f0d0;
  font-weight: bold;
}

.progress-bar {
  background-color: #eee;
  width: 100px;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin: auto;
}

.progress-fill {
  background-color: #28a745;
  height: 100%;
}
